@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTLight.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTMedium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTDemi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTBold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "FuturaPTBook";
  src: url("../fonts/FuturaPTBook.otf") format("opentype");
  font-weight: 500;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
ul {
  list-style: none;
}
body {
  background-color: #FFF;
  font-family: 'FuturaPT', sans-serif;
}
button {
  cursor: pointer;
  font-family: 'FuturaPT', sans-serif;
}
button:focus {
  outline: none;
}
a {
  color: #232323;
  font-family: 'FuturaPT', sans-serif;
  text-decoration: none;
}
a:focus {
  outline: none;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}
*::selection {
  background-color: #c60d3a;
  color: #232323;
}
input {
  font-family: "FuturaPT";
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide:focus {
  outline: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
header {
  background-image: url(../img/header-background.png);
  background-position: center;
  height: 77px;
}
.header {
  display: grid;
  grid-template-columns: 250px 420px 275px 1fr 1fr;
  height: 77px;
}
.header-logo {
  align-items: center;
  display: flex;
}
.header-logo svg {
  fill: #FFF;
  margin-right: 6px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header-logo:hover svg {
  fill: #c60d3a;
}
.header-nav {
  display: flex;
  justify-content: center;
}
.header-nav__item a {
  align-items: center;
  color: #FFF;
  display: flex;
  font-size: 18px;
  height: 100%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding: 0 8px;
}
.header-nav__item a:hover {
  color: #45959a;
}
.header-selects {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-selects__item {
  margin: 0 14px;
}
.header-selects__item span {
  color: #FFF;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
.header-selects__item .header-selects__item-wrapper {
  position: relative;
}
.header-selects__item .header-selects__item-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-family: "FuturaPT";
  height: 29px;
  min-width: 108px;
  padding: 0 30px 0 5px;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header-selects__item .header-selects__item-wrapper select:hover {
  border-color: #45959a;
}
.header-selects__item .header-selects__item-wrapper select:focus {
  outline: none;
}
.header-selects__item .header-selects__item-wrapper select option {
  color: #232323;
}
.header-selects__item .header-selects__item-wrapper::after {
  background: transparent;
  border-right: 2px solid #FFF;
  border-top: 2px solid #FFF;
  content: "";
  height: 4px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 4px;
  z-index: 2;
}
.header-selects__item .header-selects__item-wrapper:hover::after {
  border-color: #45959a;
}
.header-socials {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-socials__item a {
  align-items: center;
  display: flex;
  height: 42px;
  justify-content: center;
  padding: 14px;
}
.header-socials__item a svg {
  fill: #FFF;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header-socials__item a:hover svg {
  fill: #45959a;
}
.header-basket__wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.header-basket {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.header-basket:hover .header-basket__link svg {
  fill: #f35905;
}
.header-basket:hover .header-basket__price span:nth-of-type(2) {
  color: #f35905;
}
.header-basket__link {
  display: flex;
  margin-left: 15px;
}
.header-basket__link svg {
  fill: #FFF;
  margin-right: 4px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header-basket__link span {
  align-items: center;
  background-color: #f35905;
  border-radius: 50%;
  color: #FFF;
  display: flex;
  font-weight: 900;
  height: 26px;
  min-width: 26px;
  justify-content: center;
  width: 26px;
}
.header-basket__price span:first-of-type {
  color: #FFF;
  display: block;
  font-weight: bold;
}
.header-basket__price span {
  color: #FFF;
  display: block;
  text-align: end;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.main-bunner__wrapper {
  position: relative;
}
.main-bunner__notice {
  background-color: #232323;
  border-radius: 50px;
  display: flex;
  left: 50%;
  padding: 16px 56px 16px 40px;
  position: absolute;
  transform: translateX(-705px);
  top: 24px;
  z-index: 10;
}
.main-bunner__notice img {
  margin-right: 52px;
}
.main-bunner__notice span {
  color: #FFF;
  font-family: "FuturaPTBook";
  white-space: nowrap;
}
.main-bunner__notice::after {
  border: 12px solid #232323;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
}
.main-bunner__notice::before {
  background-color: #232323;
  bottom: 0;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  right: 0;
  width: 35px;
}
.main-bunner__slider-item {
  overflow: hidden;
  position: relative;
}
.main-bunner__slider-item img {
  width: 100%;
}
.main-bunner__slider-item > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-705px, -50%);
}
.main-bunner__slider-item > div h2 {
  color: #232323;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 12px;
}
.main-bunner__slider-item > div span {
  color: #232323;
  display: block;
  font-family: "FuturaPTBook";
  font-size: 24px;
  margin-bottom: 44px;
}
.main-bunner__slider-item > div a {
  background-color: #232323;
  border: 1px solid #232323;
  border-radius: 50px;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 210px;
}
.main-bunner__slider-item > div a:hover {
  background-color: transparent;
  color: #232323;
}
.main-bunner__slider-nav {
  bottom: 48px;
  display: flex;
  position: absolute;
  right: 50%;
  transform: translateX(705px);
}
.main-bunner__slider-nav-prev {
  align-items: center;
  background-color: #c60d3a;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  fill: #FFF;
  height: 37px;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 37px;
}
.main-bunner__slider-nav-prev:hover {
  background-color: #45959a;
}
.main-bunner__slider-nav-next {
  align-items: center;
  background-color: #c60d3a;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  fill: #FFF;
  height: 37px;
  justify-content: center;
  margin-left: 9px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 37px;
}
.main-bunner__slider-nav-next:hover {
  background-color: #45959a;
}
.advantages-block {
  background-color: #232323;
}
.advantages-block-list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 68px 15px;
}
.advantages-block-list__item {
  align-items: center;
  display: flex;
}
.advantages-block-list__item-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  fill: #FFF;
  height: 66px;
  justify-content: center;
  margin: 0 16px 0 12px;
  min-width: 66px;
  width: 66px;
}
.advantages-block-list__item-icon.advantages-block-list__item-icon_orange {
  background-color: #f35905;
}
.advantages-block-list__item-icon.advantages-block-list__item-icon_red {
  background-color: #c60d3a;
}
.advantages-block-list__item-icon.advantages-block-list__item-icon_blue {
  background-color: #45959a;
}
.advantages-block-list__item-headline {
  color: #FFF;
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.advantages-block-list__item-text {
  color: #FFF;
  display: block;
  font-family: "FuturaPTBook";
  font-size: 18px;
}
.specific-product-block {
  background-color: #393939;
  padding: 90px 0;
}
.specific-product-block .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.specific-product-block__half h2 {
  color: #FFF;
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 24px;
}
.specific-product-block__half:first-of-type {
  margin-right: 28px;
}
.specific-product-block__half img {
  width: 100%;
}
.specific-product-block__half-list span {
  border-radius: 50px;
  color: #FFF;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin-bottom: 16px;
  padding: 0 16px;
}
.specific-product-block__half-list p {
  color: #FFF;
  font-size: 18px;
  font-family: "FuturaPTBook";
}
.specific-product-block__half-list li {
  margin-bottom: 36px;
}
.specific-product-block__half-list li:last-of-type {
  margin-bottom: 0;
}
.specific-product-block__half-list li:nth-of-type(odd) span {
  background-color: #c60d3a;
}
.specific-product-block__half-list li:nth-of-type(even) span {
  background-color: #45959a;
}
.reviews-block {
  padding: 72px 15px;
}
.reviews-block h2 {
  color: #232323;
  font-size: 41px;
  font-weight: 600;
  text-align: center;
}
.reviews-block-list {
  max-width: 1000px;
}
.reviews-block-list__item {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  margin-bottom: 23px;
  padding: 0 0 38px 76px;
}
.reviews-block-list__item:last-of-type {
  border-bottom: none;
}
.reviews-block-list__item-avatar {
  height: 90px;
  margin-right: 17px;
  min-width: 90px;
  overflow: hidden;
  width: 90px;
}
.reviews-block-list__item-avatar img {
  border-radius: 50%;
  object-fit: cover;
  height: 90px;
  width: 90px;
}
.reviews-block-list__item-main {
  padding-top: 4px;
}
.reviews-block-list__item-main time {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
}
.reviews-block-list__item-rating {
  display: flex;
  margin-bottom: 24px;
}
.reviews-block-list__item-rating li {
  fill: #b8b8b8;
  margin-right: 2px;
}
.reviews-block-list__item-rating li.active {
  fill: #232323;
}
.reviews-block-list__item-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: 215px 215px 215px;
  margin-bottom: 16px;
}
.reviews-block-list__item-gallery li img {
  display: block;
  height: 135px;
  object-fit: cover;
  width: 215px;
}
.reviews-block-list__item-text {
  padding-bottom: 36px;
  position: relative;
}
.reviews-block-list__item-text p {
  color: #232323;
  font-family: "FuturaPTBook";
  font-size: 18px;
}
.reviews-block-list__item-text::after {
  background-color: #ebebeb;
  content: "";
  display: block;
  height: 1px;
  margin-top: 24px;
  width: 240px;
}
.reviews-block-list__item-product {
  align-items: center;
  display: flex;
}
.reviews-block-list__item-product-img {
  margin-right: 16px;
}
.reviews-block-list__item-product-img img {
  height: 95px;
  object-fit: cover;
  width: 140px;
}
.reviews-block-list__item-product-icon {
  align-items: center;
  background-color: #232323;
  border-radius: 50%;
  display: flex;
  fill: #FFF;
  height: 40px;
  justify-content: center;
  margin-right: 10px;
  width: 39px;
}
.reviews-block-list__item-product-name span {
  color: #232323;
  display: block;
  font-weight: 600;
}
.reviews-block-list__item-product-name a {
  color: #232323;
  font-size: 14px;
  text-decoration: underline;
}
.reviews-block-list__item-product-name a:hover {
  text-decoration: none;
}
.more-reviews {
  background-color: #232323;
  border: 1px solid #232323;
  border-radius: 50px;
  color: #FFF;
  display: block;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 210px;
}
.more-reviews:hover {
  background-color: transparent;
  color: #232323;
}
.commercial-block {
  background-color: #232323;
  height: 50px;
}
.commercial-block .container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}
.commercial-block img {
  margin-right: 52px;
}
.commercial-block span {
  color: #FFF;
  font-family: "FuturaPTBook";
}
.products-block {
  padding: 68px 15px 64px;
}
.products-block h2 {
  color: #232323;
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 68px;
  text-align: center;
}
.products-block-list {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 32px;
}
.products-block-list__item {
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.2);
  padding: 24px 18px 24px 24px;
  position: relative;
}
.products-block-list__item-label {
  background-color: #232323;
  border-radius: 0 50px 50px 0;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  height: 53px;
  line-height: 53px;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 20px;
  width: 140px;
  z-index: 10;
}
.products-block-list__item-label.products-block-list__item-label_best-seller {
  background-color: #f35905;
}
.products-block-list__item-label.products-block-list__item-label_popular {
  background-color: #c60d3a;
}
.products-block-list__item-label.products-block-list__item-label_new {
  background-color: #45959a;
}
.products-block-list__item-sale {
  align-items: center;
  background-color: #c60d3a;
  border-radius: 50%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 20px;
  width: 62px;
  z-index: 10;
}
.products-block-list__item-sale span:nth-of-type(1) {
  display: block;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.products-block-list__item-sale span:nth-of-type(2) {
  display: block;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
}
.products-block-list__item-img {
  display: block;
  height: 245px;
  position: relative;
}
.products-block-list__item-img img:nth-of-type(1) {
  width: 295px;
  height: 245px;
  display: block;
  object-fit: contain;
  opacity: 1;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.products-block-list__item-img img:nth-of-type(2) {
  width: 295px;
  height: 245px;
  display: block;
  object-fit: contain;
  opacity: 0;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.products-block-list__item:hover .products-block-list__item-img img:nth-of-type(1) {
  opacity: 0;
}
.products-block-list__item:hover .products-block-list__item-img img:nth-of-type(2) {
  opacity: 1;
}
.products-block-list__item-headline {
  color: #232323;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.products-block-list__item-headline:hover {
  color: #45959a;
}
.products-block-list__item-notes {
  margin-bottom: 16px;
}
.products-block-list__item-notes span {
  color: #232323;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}
.products-block-list__item-notes ul {
  display: flex;
  flex-wrap: wrap;
}
.products-block-list__item-notes ul li {
  color: #919191;
  font-weight: 600;
  margin-right: 3px;
}
.products-block-list__item-gift {
  color: #232323;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}
.products-block-list__item-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-right: 7px;
}
.products-block-list__item-status {
  color: #45959a;
  font-size: 14px;
  font-weight: 600;
}
.products-block-list__item-price {
  align-items: flex-end;
  display: flex;
  height: 56px;
  flex-direction: column;
  justify-content: center;
}
.products-block-list__item-price-old {
  color: #919191;
  font-size: 14px;
  margin-bottom: 12px;
  text-decoration: line-through;
}
.products-block-list__item-price-actual {
  color: #232323;
  font-size: 18px;
  font-weight: 700;
}
.products-block-list__item-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.products-block-list__item-reviews {
  display: block;
}
.products-block-list__item-reviews span:nth-of-type(1) {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
}
.products-block-list__item-reviews span:nth-of-type(2) {
  background-color: #c60d3a;
  border: 1px solid #c60d3a;
  border-radius: 50px;
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.products-block-list__item-reviews:hover span:nth-of-type(2) {
  background-color: transparent;
  color: #c60d3a;
}
.products-block-list__item-learn-more {
  background-color: #232323;
  border: 1px solid #232323;
  border-radius: 50px;
  color: #FFF;
  font-size: 14px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 104px;
}
.products-block-list__item-learn-more:hover {
  background-color: transparent;
  color: #232323;
}
.products-block-to-all {
  background-color: #232323;
  border: 1px solid #232323;
  border-radius: 50px;
  color: #FFF;
  display: block;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 133px;
}
.products-block-to-all:hover {
  background-color: transparent;
  color: #232323;
}
.products-block.products-block_enhancement {
  background-color: #f8f8f8;
  padding: 68px 0 64px;
}
.products-block.products-block_enhancement .products-block-list {
  grid-template-columns: 1fr 1fr 1fr;
}
.products-block.products-block_enhancement .products-block-list__item-headline {
  margin-bottom: 12px;
}
.products-block.products-block_enhancement .products-block-list__item-main {
  flex-wrap: wrap;
}
.products-block.products-block_enhancement .products-block-list__item-status {
  order: 1;
}
.products-block.products-block_enhancement .products-block-list__item-price {
  align-items: center;
  flex-direction: row;
  height: auto;
  justify-content: start;
  margin-bottom: 12px;
  width: 100%;
}
.products-block.products-block_enhancement .products-block-list__item-price-old {
  margin-bottom: 0;
  margin-left: 28px;
  order: 1;
}
.accessories-block .block-headline-wrapper {
  background-color: #232323;
  display: block;
  height: auto;
  margin-bottom: 68px;
}
.accessories-block .block-headline-wrapper .container {
  align-items: center;
  display: flex;
  height: 176px;
  justify-content: center;
  position: relative;
}
.accessories-block .block-headline-wrapper h2 {
  color: #FFF;
}
.accessories-block .block-headline-wrapper a {
  background-color: #393939;
  border: 1px solid #393939;
  top: 50%;
  transform: translateY(-50%);
}
.accessories-block .block-headline-wrapper a:hover {
  background-color: #FFF;
  color: #393939;
}
.accessories-block > .container h2 {
  color: #232323;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 76px;
  text-align: center;
}
.accessories-block .products-block-list {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 6px;
}
.accessories-block .products-block-list__item-main {
  flex-wrap: wrap;
}
.accessories-block .products-block-list__item-main .products-block-list__item-status {
  order: 1;
}
.accessories-block .products-block-list__item-main .products-block-list__item-price {
  align-items: center;
  flex-direction: row;
  height: auto;
  justify-content: start;
  margin-bottom: 12px;
  width: 100%;
}
.accessories-block .products-block-list__item-main .products-block-list__item-price .products-block-list__item-price-old {
  margin-bottom: 0;
  margin-left: 28px;
  order: 1;
}
.accessories-block .products-block-list__item-img img:nth-of-type(1),
.accessories-block .products-block-list__item-img img:nth-of-type(2) {
  width: 235px;
}
.products-block-list.js--products-block-list__slider {
  display: block;
}
.products-block-list.js--products-block-list__slider .products-block-list__item {
  margin-bottom: 4px;
}
.products-block-list__slider-wrapper {
  position: relative;
}
.default__slider-nav-prev,
.default__slider-nav-next {
  align-items: center;
  background-color: #e9e9e9;
  cursor: pointer;
  height: 60px;
  display: flex;
  fill: #232323;
  justify-content: center;
  width: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.default__slider-nav-prev:hover,
.default__slider-nav-next:hover {
  fill: #45959a;
}
.default__slider-nav-prev {
  left: 0;
}
.default__slider-nav-next {
  right: 0;
}
.merchandise-block {
  padding: 80px 0 120px;
}
.block-headline-wrapper {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: center;
  margin-bottom: 80px;
  position: relative;
}
.block-headline-wrapper h2 {
  color: #232323;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.block-headline-wrapper a {
  background-color: #232323;
  border: 1px solid #232323;
  border-radius: 50px;
  color: #FFF;
  display: inline-block;
  height: 56px;
  font-size: 18px;
  line-height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 133px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.block-headline-wrapper a:hover {
  background-color: transparent;
  color: #232323;
}
.merchandise-block-list {
  display: grid;
  gap: 8px;
  grid-template-areas: "merch-item-1 merch-item-2 merch-item-2" "merch-item-3 merch-item-2 merch-item-2";
  grid-template-columns: 1fr 1fr 1fr;
}
.merchandise-block-list__item {
  background-color: #e0e3e8;
  position: relative;
  overflow: hidden;
}
.merchandise-block-list__item img:nth-of-type(1) {
  opacity: 1;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 100%;
}
.merchandise-block-list__item img:nth-of-type(2) {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 100%;
}
.merchandise-block-list__item:hover img:nth-of-type(1) {
  opacity: 0;
}
.merchandise-block-list__item:hover img:nth-of-type(2) {
  opacity: 1;
}
.merchandise-block-list__item:nth-of-type(1) {
  grid-area: merch-item-1;
  padding: 24px;
}
.merchandise-block-list__item:nth-of-type(1) img:nth-of-type(2) {
  left: 50%;
  top: 24px;
  transform: translateX(-50%);
  width: calc(100% - 48px);
}
.merchandise-block-list__item:nth-of-type(2) {
  grid-area: merch-item-2;
  padding: 60px;
}
.merchandise-block-list__item:nth-of-type(2) img:nth-of-type(2) {
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  width: calc(100% - 120px);
}
.merchandise-block-list__item:nth-of-type(3) {
  grid-area: merch-item-3;
  padding: 24px;
}
.merchandise-block-list__item:nth-of-type(3) img:nth-of-type(2) {
  left: 50%;
  top: 24px;
  transform: translateX(-50%);
  width: calc(100% - 48px);
}
.merchandise-block-list__item .products-block-list__item-price {
  align-items: flex-start;
}
.merchandise-block-list__item .products-block-list__item-price-old {
  margin-bottom: 4px;
}
.merchandise-block-list__item-info {
  bottom: 40px;
  left: 20px;
  position: absolute;
  width: calc(100% - 36px);
  z-index: 10;
}
.about-brums {
  background-color: #232323;
  padding: 84px 0 96px;
}
.about-brums .block-headline-wrapper {
  margin-bottom: 56px;
}
.about-brums .block-headline-wrapper h2 {
  color: #FFF;
}
.about-brums .block-headline-wrapper a {
  background-color: #393939;
  border: 1px solid #393939;
}
.about-brums .block-headline-wrapper a:hover {
  background-color: #FFF;
  color: #393939;
}
.about-brums .container > span {
  color: #FFF;
  display: block;
  font-size: 24px;
  font-family: "FuturaPTBook";
  margin-bottom: 12px;
  text-align: center;
}
.about-brums-list {
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-brums-list__item {
  display: flex;
  flex-wrap: wrap;
}
.about-brums-list__item a {
  display: block;
  margin-bottom: 3px;
  width: 100%;
}
.about-brums-list__item a img {
  display: block;
  height: 265px;
  object-fit: cover;
  width: 467px;
}
.about-brums-list__item span {
  align-items: center;
  color: #FFF;
  display: flex;
  font-size: 24px;
  font-family: "FuturaPTBook";
  height: 265px;
  justify-content: center;
  padding: 0 80px;
  text-align: center;
  width: 467px;
}
.about-brums-list__item:nth-of-type(1) span {
  background-color: #c60d3a;
}
.about-brums-list__item:nth-of-type(2) a {
  margin-bottom: 0;
  order: 1;
}
.about-brums-list__item:nth-of-type(2) span {
  background-color: #f35905;
  margin-bottom: 3px;
}
.about-brums-list__item:nth-of-type(3) span {
  background-color: #45959a;
}
.about-manufacturer {
  padding: 80px 0 92px;
}
.about-manufacturer-two-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-manufacturer-two-half div:nth-of-type(1) {
  margin: 16px 68px 16px 16px;
}
.about-manufacturer-two-half div:nth-of-type(1) span {
  color: #232323;
  font-family: "FuturaPTBook";
  font-size: 14px;
  padding-left: 46px;
}
.about-manufacturer-two-half div:nth-of-type(1) img {
  display: inline-block;
  margin-bottom: 30px;
}
.about-manufacturer-two-half div:nth-of-type(1) ul li {
  color: #232323;
  font-family: "FuturaPTBook";
  padding-bottom: 40px;
  padding-left: 46px;
  position: relative;
}
.about-manufacturer-two-half div:nth-of-type(1) ul li::before {
  background-color: #c60d3a;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 10px;
}
.about-manufacturer-two-half div:nth-of-type(1) ul li::after {
  background-color: #c60d3a;
  content: "";
  display: block;
  height: 100%;
  left: 12px;
  position: absolute;
  top: 7px;
  width: 1px;
}
.about-manufacturer-two-half div:nth-of-type(1) ul li:last-of-type::after {
  display: none;
}
.about-manufacturer-two-half div:nth-of-type(2) img {
  width: 100%;
}
.faq-block {
  background-color: #f8f8f8;
  padding: 72px 0 88px;
}
.faq-block h2 {
  color: #232323;
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 52px;
  text-align: center;
}
.faq-block-list__item {
  margin-bottom: 4px;
}
.faq-block-list__item a {
  align-items: center;
  background-color: #232323;
  border-radius: 50px;
  color: #FFF;
  display: flex;
  font-family: "FuturaPTBook";
  height: 58px;
  font-size: 30px;
  justify-content: space-between;
  padding: 0 40px 0 58px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.faq-block-list__item a span:nth-of-type(2) {
  display: block;
  height: 26px;
  position: relative;
  width: 26px;
}
.faq-block-list__item a span:nth-of-type(2)::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 13px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  width: 2px;
}
.faq-block-list__item a span:nth-of-type(2)::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 13px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 2px;
}
.faq-block-list__item a:hover {
  background-color: #c60d3a;
}
.faq-block-list__item a.active span:nth-of-type(2)::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.faq-block-list__item a.active + .faq-block-list__item-text {
  display: block;
}
.faq-block-list__item-text {
  display: none;
  padding: 32px 62px 28px;
}
.faq-block-list__item-text p {
  color: #232323;
  font-family: "FuturaPTBook";
  font-size: 18px;
}
.helpful-information-block {
  padding: 52px 0 80px;
}
.helpful-information-block h2 {
  color: #232323;
  font-size: 41px;
  font-weight: 600;
  margin-bottom: 52px;
  text-align: center;
}
.helpful-information-slider__wrapper {
  position: relative;
}
.helpful-information-slider__wrapper .default__slider-nav-prev,
.helpful-information-slider__wrapper .default__slider-nav-next {
  background-color: rgba(255, 255, 255, 0.2);
}
.helpful-information-slider__item {
  margin: 0 3px;
  position: relative;
}
.helpful-information-slider__item img {
  width: 100%;
}
.helpful-information-slider__item span {
  bottom: 32px;
  color: #FFF;
  font-size: 24px;
  font-weight: 900;
  left: 32px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: calc(100% - 64px);
}
.helpful-information-slider__item a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.helpful-information-slider__item:hover span {
  color: #45959a;
}
